# Tech Intro

## Main tables

In [8]:
# Real Estate's objects
real_estate_list: list = [
    'ag_object',
    'ag_parse_ad',
    'ag_lead_object',
    'ag_presentation_object',
    'ag_object_platform',
    'ag_posting_ad_realty',
    'native_realty_filial',
    'foreign_realty_filial',
    'spr_metro',
    'spr_metro_connection',
    'ag_object_parking']
# Lead's objects
lead_list: list = [
    'leads',
    'lead_utm',
    'client_wishes',
    'leads_email_order',
    'request_from_site',
    'lead_finance',
    'leads_source_spr',
    'leads_calls_connection',
    'leads_pipeline',
    'leads_not_implemented_reason',
    'leads_status',
    'ag_pipeline',
    'ag_pipeline_status',
    'leads_meta',
    'leads_meta_fields',
    'leads_meta_group',
    'leads_contacts_connect',
    'leads_contact',
    'leads_contact_meta',
    'leads_contact_meta_fields']
# Deal's objects
deal_list: list = [
    # Deal
    'a_deal',
    'a_deal_meta',
    'deal_passport',
    'a_deal_finance',
    'a_deal_check',
    'a_deal_test',
    # Contractor
    'a_contractor',
    'a_contractor_meta',
    'a_deal_contractor',
    'a_deal_contractor_meta',
    # Object
    'a_object',
    'a_object_meta',
    'a_deal_object']

## Main Variables

In [9]:
# Address and name of your notebook
venv_path = "/home/bigdata/a.umarov/jupyter_P24"
# Exploratory Data Analysis(EDA) table (eda_table)
eda_table = real_estate_list[1] # You can generate full-EDA cycle if you want through the all of tables
                                # Just iterate it !
# Exploratory Data Analysis(EDA) obj as PySpark DataFrame
eda_df = None
# Set the date of checking
sample_data_date = '20221027'

## Useful command and modules (can be transform into the 'importlib'- smart import logic)

In [10]:
import os
import pandas as pd
# To data analyze need the module
import pyspark.pandas as ps
os.environ["PYSPARK_PYTHON"] = f"{venv_path}/bin/python3"
os.environ["PYSPARK_DRIVER_PYTHON"] = f"{venv_path}/bin/python3"

import findspark
findspark.init("/opt/dev/spark/spark")
 
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext, DataFrameNaFunctions, \
                        Window, DataFrame, DataFrameStatFunctions, \
                        Column, Row, GroupedData, functions, types
from pyspark.sql.functions import isnan, when, count, col


conf = SparkConf().setAppName("get_info_from_" + eda_table + "_table")
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")
spark = SparkSession(sc)

22/11/07 11:16:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/11/07 11:16:53 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4080. Attempting port 4081.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4081. Attempting port 4082.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4082. Attempting port 4083.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4083. Attempting port 4084.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4084. Attempting port 4085.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4085. Attempting port 4086.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4086. Attempting port 4087.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4087. Attempting port 4088.
22/11/07 11:16:53 WARN Utils: Service 'SparkUI' could not bind on port 4088. Attempting port 4089.
22/11/07 11:16:54 WARN FairSchedulableBuilder: Fair Scheduler configuration file not found so jobs will be scheduled in FIFO order. To use fair scheduling, configure pools in fairscheduler.xml or set spark.scheduler.allocation.file to a file that contains the configuration.
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@753: Client environment:zookeeper.version=zookeeper C client 3.4.8
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@757: Client environment:host.name=sd-dts01
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@764: Client environment:os.name=Linux
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@765: Client environment:os.arch=3.10.0-1160.76.1.el7.x86_64
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@766: Client environment:os.version=#1 SMP Wed Aug 10 16:21:17 UTC 2022
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@774: Client environment:user.name=(null)
I1107 11:16:54.225771 43509 sched.cpp:241] Version: 1.11.0
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@782: Client environment:user.home=/home/a.umarov
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@log_env@794: Client environment:user.dir=/home/a.umarov
2022-11-07 11:16:54,225:43004(0x7fd974eb1700):ZOO_INFO@zookeeper_init@827: Initiating client connection, host=sd-namenode01:2181,sd-namenode02:2181,sd-namenode03:2181 sessionTimeout=10000 watcher=0x7fd97dd67cb0 sessionId=0 sessionPasswd=<null> context=0x7fd91c000ad0 flags=0
2022-11-07 11:16:54,226:43004(0x7fd95be7f700):ZOO_INFO@check_events@1764: initiated connection to server [10.62.4.12:2181]
2022-11-07 11:16:54,238:43004(0x7fd95be7f700):ZOO_INFO@check_events@1811: session establishment complete on server [10.62.4.12:2181], sessionId=0x181048e7f754715, negotiated timeout=10000
I1107 11:16:54.238973 43466 group.cpp:341] Group process (zookeeper-group(1)@10.62.4.11:40202) connected to ZooKeeper
I1107 11:16:54.239046 43466 group.cpp:831] Syncing group operations: queue size (joins, cancels, datas) = (0, 0, 0)
I1107 11:16:54.239063 43466 group.cpp:419] Trying to create path '/samolet-mesos' in ZooKeeper
I1107 11:16:54.240777 43481 detector.cpp:152] Detected a new leader: (id='13')
I1107 11:16:54.240926 43484 group.cpp:700] Trying to get '/samolet-mesos/json.info_0000000013' in ZooKeeper
I1107 11:16:54.244228 43492 zookeeper.cpp:262] A new leading master (UPID=master@10.62.4.8:5050) is detected
I1107 11:16:54.244305 43493 sched.cpp:345] New master detected at master@10.62.4.8:5050
I1107 11:16:54.244649 43493 sched.cpp:365] No credentials provided. Attempting to register without authentication
I1107 11:16:54.246992 43496 sched.cpp:753] Framework registered with 89161c75-8817-4ae4-ab24-cba26241d6f9-53470

## Read the spec-file from Hadoop and show some data sample

In [11]:
eda_df = spark.read.parquet("/prod/source/p24/" + eda_table + "/datekey=" + sample_data_date)
eda_df.show(10, False)

+--------+-----------------+----------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------+-----------+---------------+--------+-----------+----------------------------------------+------+---------------------+----------+--------------------------------------------------------------------------------------------+-------+-------+-----+--------+------+-----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+-------------------+----------------+--------------------------------------------------+--------------------------------------------------------------------------------------------+-----+----------+----------+-----+-----+------+---------+-----------+-------------+--------------+--------------+-------------+------------------------+--------------------+----------+--------+---------+------------+----------------+--------+-----------+----------+------------+-------+------------+------+------------+---------------------+---------+---------------+-------------+
|id      |session          |url                                                                                                             |title                                                         |object_type|object_sub_type|price   |phone      |person                                  |p_type|region               |city      |address                                                                                     |country|region2|city2|district|street|house|description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |type  |source_id          |source          |location                                          |location2                                                                                   |area |created_at|updated_at|floor|rooms|studio|ad_id    |living_area|land_category|building_class|walls_material|location_type|residential_complex_name|has_security_service|house_area|lot_area|room_area|kitchen_area|distance_to_city|due_time|garage_type|house_type|parking_type|ad_type|total_floors|is_new|is_apartment|metro                |is_actual|object_type_str|pdf_link_hash|
+--------+-----------------+----------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------+-----------+---------------+--------+-----------+----------------------------------------+------+---------------------+----------+--------------------------------------------------------------------------------------------+-------+-------+-----+--------+------+-----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+-------------------+----------------+--------------------------------------------------+--------------------------------------------------------------------------------------------+-----+----------+----------+-----+-----+------+---------+-----------+-------------+--------------+--------------+-------------+------------------------+--------------------+----------+--------+---------+------------+----------------+--------+-----------+----------+------------+-------+------------+------+------------+---------------------+---------+---------------+-------------+
|10000012|202205161334127  |https://www.avito.ru/ust-kachka/doma_dachi_kottedzhi/dacha_446_m_na_uchastke_146_sot._2184267448                |Дача 44.6 м² на участке 14.6 сот.                             |3          |3              |1490000 |89194410068|недоступно                              |1     |Пермский край        |Усть-Качка|Пермский край, Пермский р-н, Усть-Качкинское сельское поселение, д. Луговая, Июльская ул.   |null   |null   |null |null    |null  |null |ПРОДАМ ДАЧУ (земля - 59:32:3290001:6947<br /> дом- 59:32:3290001:13387) в  деревне ЛУГОВАЯ, УСТЬ-КАЧКИНСКОЕ СЕЛЬСКОЕ ПОСЕЛЕНИЕ<br /><br />ДОМ ИЗ ЕВРОБРУСА  площадью 44,6 кв.м на участке 14,6 сот.<br /><br />ФУНКЦИОНАЛЬНАЯ ПЛАНИРОВКА: <br /><br />БОЛЬШАЯ КУХНЯ – ГОСТИНАЯ, УЮТНАЯ СПАЛЬНЯ И ПРОСТОРНАЯ ВЕРАНДА.<br /><br />Окна – стеклопакет<br /><br /><br />Санузел - душевая кабина, унитаз, раковина, водонагреватель. <br /><br />КОММУНИКАЦИИ:<br /><br />В ДОМ ЗАВЕДЕНА ВОДА, ЭЛЕКТРОЭНЕРГИЯ<br /><br /><br />КАНАЛИЗАЦИЯ – ВЫГРЕБНАЯ ЯМА (4 КОЛЬЦА)<br /><br />ТРАНСПОРТНАЯ ДОСТУПНОСТЬ<br /><br />Круглогодичный подъезд (остановка Красный Восход), <br /><br />НЕ ДЛЯ КРУГЛОГОДИЧНОГО ПРОЖИВАНИЯ.<br /><br />До курорта Усть – Качка -  8 км, до берега Камы 5 минут на машине.  <br /><br /> ИСПОЛЬЗОВАНИЕ МАТКАПИТАЛА. ЗАЧЁТ ВТОРИЧНЫМ ЖИЛЬЁМ, ПОМОЩЬ В ОДОБРЕНИИ ИПОТЕКИ.<br /><br />ДЛЯ ПОИСКА: УСТЬ – КАЧКА, КУЛТАЕВО, МОКИНО,ПРОТАСЫ,КРАСНЫЙ ВОСХОД,ГОРШКИ.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |Продам|2184267448         |avito.ru        |{"wkb":"AQEAAACG4/kMqPtMQFJkraHU0EtA","srid":null}|{"x":55.631489,"y":57.966066,"wkb":"AQEAAABSZK2h1NBLQIbj+Qyo+0xA","srid":null}              |null |1631686807|1652697614|null |null |0     |551372112|null       |null         |null          |брус          |null         |null                    |null                |44.6      |14.6    |null     |null        |null            |null    |null       |null      |null        |1      |null        |null  |0           |null                 |1        |дача           |             |
|11158901|202111032336348  |https://www.avito.ru/korolev/kommercheskaya_nedvizhimost/svobodnogo_naznacheniya_195.5_m_2254367549             |Свободного назначения, 195.5 м²                               |6          |63             |15500000|89252193343|недоступно                              |1     |Московская область   |Королев   |Московская область, Королёв, Тарасовская ул., 25                                            |null   |null   |null |null    |null  |null |Срочно продаётся помещение свободного назначения 195,5 метров на 1 этаже жилого 25-ти этажного дома класса А в Королёве! В доме 436 квартир, есть двухуровневый паркинг. Два входа, свободная планировка. Большие панорамные окна, потолки 3,5 м! Рядом техникум и два общежития. Огромный потенциал для предпринимателей, минимальная конкуренция при большом трафике людей! Выгодное инвестиционное предложение, при средней арендной ставке в 1000 рублей/кв.м окупаемость менее 5 лет! Без обременения, оперативный показ, звоните!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |Продам|2254367549         |avito.ru        |{"wkb":"AQEAAABP6zao/fhLQCRjtfl/60JA","srid":null}|{"x":37.839843,"y":55.945241,"wkb":"AQEAAAAkY7X5f+tCQE/rNqj9+EtA","srid":null}              |195.5|1635972007|1635972007|null |null |0     |559392474|null       |null         |null          |null          |null         |null                    |null                |null      |null    |null     |null        |null            |null    |null       |null      |null        |1      |null        |null  |0           |null                 |1        |null           |             |
|10000036|202109150914549  |https://realty.yandex.ru/offer/3187381941637812483/                                                             |2-комнатная квартира: Москва, Открытое шоссе, 18Ас2 (56.97 м²)|1          |null           |13023342|84951205917|ПИК (ПИК)                               |2     |Москва               |Москва    |Открытое шоссе, 18Ас2                                                                       |null   |null   |null |null    |null  |null |Новостройка! Продается 2-комн. кв-ра площадью 56,97 кв.м, (Корпус 1.3, Секция 1)  5 этаж 33-этажного дома в ЖК "Лосиноостровский парк" от ПИК. Жилой квартал «Лосиноостровский парк» расположен на востоке Москвы, в районе Метрогородок. До станций метро и МЦК «Бульвар Рокоссовского» можно дойти за 12 минут. До СВХ можно добраться за 3 минуты на автомобиле, до ТТК - за 15. <br /><br />Проект включает 22 жилых корпуса, надземные паркинги, 2 детских сада, школу и поликлинику. В подземной части корпусов спроектированы индивидуальные кладовые, а на первых этажах разместятся супермаркеты, кафе, салоны красоты и другие торгово-сервисные предприятия. В зелёных дворах-парках будут обустроены игровые и спортивные площадки и места для отдыха, при этом поля для шумных командных видов спорта будут вынесены за пределы дворов. Через весь квартал протянется пешеходный бульвар площадью 1 га. <br /><br />Рядом с проектом уже работают детские сады, школы, магазины, аптеки, поликлиники для детей и взрослых, фитнес-клубы. В 15 минутах пешком находятся торговые центры «Подсолнухи» и «Фабрика». На расстоянии 10 минут на автомобиле расположен футбольный клуб «Перовец», академия «Спартак», спорткомплекс «Лосиноостровский». <br /><br />Для прогулок и отдыха на свежем воздухе в 6 минутах пешком есть «Лосиный Остров» - крупнейший в мире национальный парк, расположенный в черте города. Он занимает большую часть района. Дорога на автомобиле до Черкизовского детского парка займёт 8 минут, а до Измайловского парка и парка «Сокольники» - 13 минут. #d15.09##yan19-2r1108936# |Продам|3187381941637812483|realty.yandex.ru|{"wkb":"AQEAAAARGOsbmOhLQNoDrcCQ30JA","srid":null}|{"x":37.746605,"y":55.817142,"wkb":"AQEAAADaA63AkN9CQBEY6xuY6EtA","srid":null}              |56.97|1631686811|1631686812|5    |2    |0     |554510007|null       |null         |null          |null          |null         |лосиноостровский парк   |null                |null      |null    |null     |null        |null            |2024    |null       |null      |null        |1      |33          |null  |null        |Бульвар Рокоссовского|1        |null           |             |
|11158925|20211103233722167|https://tver.n1.ru/view/74361196/                                                                               |Земельный участок (5.92 соток)                                |5          |null           |900000  |89038088201|Валентина (Федеральная компания "ЭТАЖИ")|2     |Тверская область     |Тверь     |                                                                                            |null   |null   |null |null    |null  |null |Предлагается к продаже участок в черте города! Затверечье.<br /><br />Площадь 6 соток. Участок правильной формы. Сухой, ровный.<br /><br />Есть отдельный въезд на участок со стороны улицы, так как находится на границе снт.<br /><br />Со стороны улицы - орогожен профнастилом.<br /><br />На участке стоит летний дом и колодец с технической водой.<br /><br />Отличная транспортная доступность. Хороший подъезд к участку. Дороги зимой всегда чистят.<br /><br />Соседи проживают круглогодично.<br /><br />Документы готовы к продаже. Один взрослый собственник.<br /><br />Успейте купить участок в городе по выгодной цене!<br /><br />Звоните!<br /><br /> Доп. описание: водоснабжение: колодец Номер в базе: 6708168. Район: Коллективный сад 5 СНТ                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |Продам|74361196           |n1.ru           |null                                              |{"x":0.0,"y":0.0,"wkb":"AQEAAAAAAAAAAAAAAAAAAAAAAAAA","srid":null}                          |5.92 |1635972007|1636593004|null |null |0     |559388423|null       |null         |null          |null          |null         |null                    |null                |null      |null    |null     |null        |null            |null    |null       |null      |null        |1      |null        |null  |0           |null                 |1        |null           |             |

## Show columns' properties

In [12]:
print('Data overview')
eda_df.printSchema()

Data overview
root
 |-- id: string (nullable = true)
 |-- session: string (nullable = true)
 |-- url: string (nullable = true)
 |-- title: string (nullable = true)
 |-- object_type: string (nullable = true)
 |-- object_sub_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- person: string (nullable = true)
 |-- p_type: string (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- address: string (nullable = true)
 |-- country: string (nullable = true)
 |-- region2: string (nullable = true)
 |-- city2: string (nullable = true)
 |-- district: string (nullable = true)
 |-- street: string (nullable = true)
 |-- house: string (nullable = true)
 |-- description: string (nullable = true)
 |-- type: string (nullable = true)
 |-- source_id: string (nullable = true)
 |-- source: string (nullable = true)
 |-- location: string (nullable = true)
 |-- location2: string (nullable = true)
 |-- area: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- rooms: string (nullable = true)
 |-- studio: string (nullable = true)
 |-- ad_id: string (nullable = true)
 |-- living_area: string (nullable = true)
 |-- land_category: string (nullable = true)
 |-- building_class: string (nullable = true)
 |-- walls_material: string (nullable = true)
 |-- location_type: string (nullable = true)
 |-- residential_complex_name: string (nullable = true)
 |-- has_security_service: string (nullable = true)
 |-- house_area: string (nullable = true)
 |-- lot_area: string (nullable = true)
 |-- room_area: string (nullable = true)
 |-- kitchen_area: string (nullable = true)
 |-- distance_to_city: string (nullable = true)
 |-- due_time: string (nullable = true)
 |-- garage_type: string (nullable = true)
 |-- house_type: string (nullable = true)
 |-- parking_type: string (nullable = true)
 |-- ad_type: string (nullable = true)
 |-- total_floors: string (nullable = true)
 |-- is_new: string (nullable = true)
 |-- is_apartment: string (nullable = true)
 |-- metro: string (nullable = true)
 |-- is_actual: string (nullable = true)
 |-- object_type_str: string (nullable = true)
 |-- pdf_link_hash: string (nullable = true)

## Total rows (count)

In [13]:
eda_df.count()

10906778

## Simple func to execute and show the result of the SQL-instruction

In [14]:
def execute(select_instruction: str = "select count(*) from realEstate") -> object:
    """
    Method to execute and show the result of your SQL-instruction
    :default -> "select count(*) from realEstate"
    :param :string select_instruction: SQL statement
    :return: result of the SQL-operation as a table
    """
    return spark.sql(select_instruction).show()

## Create the temp-table-view from the DF (called as "eda_sql")

In [15]:
eda_df.createOrReplaceTempView("eda_sql")

## Check the method and temp-table

In [16]:
execute("select count(*) from eda_sql")

+--------+
|count(1)|
+--------+
|10906778|
+--------+

## Detect missing values and abnormal zeroes and print it

###### Check-rule Matrix


|  Name of the rule    |Available                   
|----------------------|-------------------------|
|NULL/NaN/NA           |+                        |
|'Zero'-value          |+                        |
|'Empty-string'        |+                        |

### 1st solution (PySpark & Pandas version)
#### Max perfomance but harder to read & understand

##### Filter and count after - all the values in the  our EDA-DF

In [17]:
# NULL/NaN/NA values condition
eda_df_null_values = eda_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_null_values

,id,session,url,title,object_type,object_sub_type,price,phone,person,p_type,...,house_type,parking_type,ad_type,total_floors,is_new,is_apartment,metro,is_actual,object_type_str,pdf_link_hash
0,0,0,0,0,40682,6602926,0,1009,1,227,...,10484126,10851085,297372,8001665,10717615,6177448,5384899,0,4357562,0

In [18]:
# Zero values condition
eda_df_zero_values = eda_df.select([count(when(col(c) == 0, c)).alias(c) \
                                    for c in eda_df.columns]).toPandas()
eda_df_zero_values

,id,session,url,title,object_type,object_sub_type,price,phone,person,p_type,...,house_type,parking_type,ad_type,total_floors,is_new,is_apartment,metro,is_actual,object_type_str,pdf_link_hash
0,0,0,0,0,0,0,14603,0,1496,0,...,0,0,0,278,137951,4624876,0,9707,0,0

In [19]:
# Empty-string values condition
eda_df_empty_values = eda_df.select([count(when(col(c) == '', c)).alias(c) \
                                     for c in eda_df.columns]).toPandas()
eda_df_empty_values

,id,session,url,title,object_type,object_sub_type,price,phone,person,p_type,...,house_type,parking_type,ad_type,total_floors,is_new,is_apartment,metro,is_actual,object_type_str,pdf_link_hash
0,0,0,1,20,0,0,0,0,29109,0,...,0,0,0,0,0,0,0,0,0,10906514

In [20]:
# Unlock the limit to display all the columns
pd.options.display.max_rows = None
# To transpose a dataframe - use .T method
eda_df_pandas = pd.concat([eda_df_null_values, eda_df_zero_values, eda_df_empty_values], axis = 'index').T
# To rename columns to anything else after the transpose
eda_df_pandas.columns = (['NULL','Zero','Empty_string'])
eda_df_pandas

                              NULL      Zero  Empty_string
id                               0         0             0
session                          0         0             0
url                              0         0             1
title                            0         0            20
object_type                  40682         0             0
object_sub_type            6602926         0             0
price                            0     14603             0
phone                         1009         0             0
person                           1      1496         29109
p_type                         227         0             0
region                           0         0          1316
city                             0         0          3935
address                          0         1        306500
country                   10880833         0             0
region2                   10906778         0             0
city2                     10906778         0             0
district                  10906778         0             0
street                    10906778         0             0
house                     10906778         0             0
description                      0      1514         69950
type                             0         0             1
source_id                        1        62        277162
source                         919         0             0
location                     14177         0             0
location2                        0         0             0
area                       2245939       858             0
created_at                       0         0             0
updated_at                       0         0             0
floor                      4649146     27482             0
rooms                      4934244      1423             0
studio                           0  10721108             0
ad_id                            1     17288             0
living_area                6594736    639591             0
land_category             10489579         0             0
building_class            10906173         0             0
walls_material             9377831         0             0
location_type             10895702         0             0
residential_complex_name   9176400         0             0
has_security_service      10479277    204625             0
house_area                 8651569       331             0
lot_area                   8654816      4807             0
room_area                 10696194       623             0
kitchen_area               6072627    638950             0
distance_to_city          10652310         0             0
due_time                   9005424         0             0
garage_type               10534952         0             0
house_type                10484126         0             0
parking_type              10851085         0             0
ad_type                     297372         0             0
total_floors               8001665       278             0
is_new                    10717615    137951             0
is_apartment               6177448   4624876             0
metro                      5384899         0             0
is_actual                        0      9707             0
object_type_str            4357562         0             0
pdf_link_hash                    0         0      10906514

In [21]:
def set_result_to_percent(df: object = None) -> object:
    """
    Method to execute and show the result of your PandasDataFrame
    :default -> None-object
    :param :Pandas DF
    :return: DF after the conversion (absolute -> percent)
    """
    if df is None:
        return "Please incl. at least one Pandas DF as a parameter"
    return round(df * 100 / eda_df.count(), 3)

In [22]:
set_result_to_percent(eda_df_pandas)

                             NULL    Zero  Empty_string
id                          0.000   0.000         0.000
session                     0.000   0.000         0.000
url                         0.000   0.000         0.000
title                       0.000   0.000         0.000
object_type                 0.373   0.000         0.000
object_sub_type            60.540   0.000         0.000
price                       0.000   0.134         0.000
phone                       0.009   0.000         0.000
person                      0.000   0.014         0.267
p_type                      0.002   0.000         0.000
region                      0.000   0.000         0.012
city                        0.000   0.000         0.036
address                     0.000   0.000         2.810
country                    99.762   0.000         0.000
region2                   100.000   0.000         0.000
city2                     100.000   0.000         0.000
district                  100.000   0.000         0.000
street                    100.000   0.000         0.000
house                     100.000   0.000         0.000
description                 0.000   0.014         0.641
type                        0.000   0.000         0.000
source_id                   0.000   0.001         2.541
source                      0.008   0.000         0.000
location                    0.130   0.000         0.000
location2                   0.000   0.000         0.000
area                       20.592   0.008         0.000
created_at                  0.000   0.000         0.000
updated_at                  0.000   0.000         0.000
floor                      42.626   0.252         0.000
rooms                      45.240   0.013         0.000
studio                      0.000  98.298         0.000
ad_id                       0.000   0.159         0.000
living_area                60.465   5.864         0.000
land_category              96.175   0.000         0.000
building_class             99.994   0.000         0.000
walls_material             85.982   0.000         0.000
location_type              99.898   0.000         0.000
residential_complex_name   84.135   0.000         0.000
has_security_service       96.080   1.876         0.000
house_area                 79.323   0.003         0.000
lot_area                   79.353   0.044         0.000
room_area                  98.069   0.006         0.000
kitchen_area               55.678   5.858         0.000
distance_to_city           97.667   0.000         0.000
due_time                   82.567   0.000         0.000
garage_type                96.591   0.000         0.000
house_type                 96.125   0.000         0.000
parking_type               99.489   0.000         0.000
ad_type                     2.726   0.000         0.000
total_floors               73.364   0.003         0.000
is_new                     98.266   1.265         0.000
is_apartment               56.639  42.404         0.000
metro                      49.372   0.000         0.000
is_actual                   0.000   0.089         0.000
object_type_str            39.953   0.000         0.000
pdf_link_hash               0.000   0.000        99.998

### SQL-instructions

In [ ]:
#Find dupes or misunderstanding or useless static values 10 906 778 total
execute("SELECT house_area\
        FROM eda_sql\
        WHERE house_area < 9\
        GROUP BY house_area\
        ORDER BY house_area ASC\
        ")

execute("SELECT due_time\
        FROM eda_sql\
        GROUP BY due_time\
        ORDER BY due_time DESC\
        ")

execute("SELECT total_floors\
        FROM eda_sql\
        GROUP BY total_floors\
        ORDER BY total_floors ASC\
        ")

execute("SELECT object_type_str\
        FROM eda_sql\
        GROUP BY object_type_str\
        ORDER BY object_type_str DESC\
        ")

execute("SELECT metro\
        FROM eda_sql\
        GROUP BY metro\
        ORDER BY metro ASC\
        ")

execute("SELECT residential_complex_name, count(residential_complex_name)\
        FROM eda_sql\
        GROUP BY residential_complex_name\
        ORDER BY count(residential_complex_name) DESC\
        ")

execute("SELECT living_area, count(living_area)\
        FROM eda_sql\
        GROUP BY living_area\
        ORDER BY living_area DESC\
        ")

execute("SELECT land_category, count(land_category)\
        FROM eda_sql\
        GROUP BY land_category\
        ORDER BY count(land_category) DESC\
        ")

execute("SELECT ad_id, count(ad_id)\
        FROM eda_sql\
        GROUP BY ad_id\
        ORDER BY count(ad_id) DESC\
        ")

execute("SELECT id, area, description\
        FROM eda_sql\
        WHERE id = 13461558\
        ")

execute("SELECT location2, count(location2)\
        FROM eda_sql\
        GROUP BY location2\
        ORDER BY count(location2) DESC")

execute("SELECT id, location\
        FROM eda_sql\
        ORDER BY location")

execute("SELECT source, count(source)\
        FROM eda_sql\
        GROUP BY source\
        ORDER BY source ASC")

execute("SELECT source_id\
        FROM eda_sql\
        GROUP BY source_id\
        ORDER BY source_id ASC")

execute("SELECT source_id\
        FROM eda_sql\
        GROUP BY source_id\
        ORDER BY source_id DESC")

execute("SELECT type\
        FROM eda_sql\
        GROUP BY type\
        --WHERE type IS NOT NULL\
        --ORDER BY person DESC")

execute("SELECT id, description\
        FROM eda_sql\
        WHERE description LIKE 'x%'\
        --ORDER BY person DESC")

execute("SELECT id, description\
        FROM eda_sql\
        WHERE description LIKE '1'\
        --ORDER BY person DESC")

execute("SELECT id, person\
        FROM eda_sql\
        WHERE person LIKE '*%'\
        ORDER BY person DESC")

execute("SELECT id, person\
        FROM eda_sql\
        WHERE person LIKE '1%'\
        ORDER BY person DESC")

execute("SELECT id, phone\
        FROM eda_sql\
        WHERE phone >1\
        ORDER BY phone DESC")

execute("SELECT id, price\
        FROM eda_sql\
        WHERE price >30000000\
        ORDER BY price DESC")

execute("SELECT id, price\
        FROM eda_sql\
        WHERE price = 9 OR price = 99 OR price = 999\
        ORDER BY price asc")
execute("SELECT object_sub_type, count(object_sub_type)\
        FROM eda_sql\
        GROUP BY object_sub_type\
        --ORDER BY title DESC")

execute("SELECT id\
        , title\
        FROM eda_sql\
        WHERE title not like '1%'\
        ORDER BY title DESC")

execute("SELECT id\
        , title\
        FROM eda_sql\
        WHERE title not like ' %'\
        AND title IS NOT NULL\
        ORDER BY title ASC")

execute("SELECT id\
        , url\
        FROM eda_sql\
        WHERE url not like 'https%'\
        ORDER BY url DESC")

execute("SELECT id\
        , url\
        FROM eda_sql\
        WHERE url not like 'http%'\
        ORDER BY url DESC")

for col in eda_df.columns:
    execute("select count(distinct("+ col + ")) from eda_sql")

+----------+
|house_area|
+----------+
|       0.0|
|       1.0|
|       2.0|
|       2.1|
|       2.3|
|       2.5|
|       2.8|
|       3.0|
|      3.11|
|      3.15|
|       3.2|
|       3.4|
|       3.5|
|       3.6|
|      3.64|
|      3.71|
|       3.8|
|       4.0|
|      4.07|
|       4.2|
+----------+
only showing top 20 rows

+---------------+
|       due_time|
+---------------+
|           сдан|
|            кв.|
|     4 кв. 2031|
|     4 кв. 2029|
|4 кв. 2028 года|
|     4 кв. 2028|
|4 кв. 2027 года|
|     4 кв. 2027|
|     4 кв. 2026|
|4 кв. 2025 года|
|     4 кв. 2025|
|4 кв. 2024 года|
|     4 кв. 2024|
|4 кв. 2023 года|
|     4 кв. 2023|
|4 кв. 2022 года|
|     4 кв. 2022|
|4 кв. 2021 года|
|     4 кв. 2021|
|4 кв. 2020 года|
+---------------+
only showing top 20 rows

+------------+
|total_floors|
+------------+
|        null|
|           0|
|           1|
|          10|
|         100|
|         101|
|         102|
|         109|
|          11|
|         110|
|         113|
|         116|
|         117|
|         118|
|         119|
|          12|
|         120|
|         122|
|         123|
|          13|
+------------+
only showing top 20 rows

+--------------------+
|     object_type_str|
+--------------------+
|      часть коттеджа|
|          часть дома|
|  торговое помещение|
|            таунхаус|
| складское помещение|
|производственное ...|
|помещение свободн...|
|   офисное помещение|
|         новостройка|
|         машиноместо|
|             коттедж|
|коммерческая недв...|
|квартира, апартам...|
|   земельный участок|
|          дом, вилла|
|                 дом|
|                дача|
|           гостиница|
|  гараж, машиноместо|
|               гараж|
+--------------------+
only showing top 20 rows

+-------------------+
|              metro|
+-------------------+
|               null|
|   Электрозаводская|
|                  1|
|              1 мая|
|1 микрорайон ГПЗ-23|
|                1-й|
|         1-й ГПЗ-23|
|        1-й участок|
|                 10|
|             11, 12|
|               11-й|
|                11А|
|                11Б|
|               12-й|
|                 13|
|               13-й|
|       13-й квартал|
|                13А|
|                 14|
|               14-й|
+-------------------+
only showing top 20 rows

+------------------------+-------------------------------+
|residential_complex_name|count(residential_complex_name)|
+------------------------+-------------------------------+
|             парк легенд|                          45171|
|             скандинавия|                          38985|
|                  остров|                          37517|
|                прокшино|                          35917|
|                 событие|                          34955|
|                  символ|                          26920|
|                 самолет|                          15603|
|              южные сады|                          13807|
|    эко-квартал аквил...|                          10665|
|          сердце столицы|                          10554|
|      испанские кварталы|                          10262|
|                 мой мир|                          10188|
|    id kudrovo (айди ...|                           9476|
|            город первых|                           9367|
|         новые горизонты|                           8544|
|       авиатор (aviator)|                           7808|
|                кислород|                           7783|
|              губернский|                           7752|
|                все свои|                           7435|
|         люблинский парк|                           7264|
+------------------------+-------------------------------+
only showing top 20 rows

+-----------+------------------+
|living_area|count(living_area)|
+-----------+------------------+
|      999.0|                 1|
|       99.9|                35|
|      99.89|                 2|
|       99.8|                34|
|      99.74|                 1|
|       99.7|                42|
|       99.6|                24|
|       99.5|               105|
|       99.4|                17|
|       99.3|                18|
|       99.2|                33|
|       99.1|                23|
|      99.05|                 1|
|       99.0|               333|
|      98.96|                 1|
|      98.94|                 1|
|       98.9|                15|
|       98.8|                41|
|      98.78|                 2|
|      98.73|                 1|
+-----------+------------------+
only showing top 20 rows

+--------------------+--------------------+
|       land_category|count(land_category)|
+--------------------+--------------------+
|     поселений (ижс)|              271364|
|сельхозназначения...|              136879|
|      промназначения|                8523|
|индивидуальное жи...|                 280|
|личное подсобное ...|                  47|
|крестьянско-ферме...|                  35|
|садоводство или о...|                  31|
|дачное строительство|                  27|
|сельскохозяйствен...|                  13|
|                null|                   0|
+--------------------+--------------------+

+----------+------------+
|     ad_id|count(ad_id)|
+----------+------------+
|2147483647|     2646945|
|         0|       17288|
| 548275868|          20|
| 562461802|          16|
| 451752129|          15|
| 552199182|          13|
| 540925253|          13|
| 569141633|          13|
| 560363408|          11|
| 539907197|          11|
| 512827646|          11|
| 561466467|          11|
| 531722759|          11|
| 546276200|          11|
| 504085755|          11|
| 555344370|          10|
| 512993199|          10|
| 518838711|          10|
| 558887710|          10|
| 514491294|          10|
+----------+------------+
only showing top 20 rows

+--------+------+-----------+
|      id|  area|description|
+--------+------+-----------+
|13461558|9999.0|  Бабл квас|
+--------+------+-----------+

+--------------------+----------------+
|           location2|count(location2)|
+--------------------+----------------+
|{"x":37.642332678...|           26119|
|{"x":0.0,"y":0.0,...|           14245|
|{"x":37.642246847...|           13302|
|{"x":37.579861,"y...|            9069|
|{"x":30.522058,"y...|            8701|
|{"x":37.430107,"y...|            7431|
|{"x":37.437245,"y...|            7327|
|{"x":37.523411,"y...|            7224|
|{"x":30.522975,"y...|            6617|
|{"x":37.516136,"y...|            6572|
|{"x":37.477757,"y...|            6564|
|{"x":37.509433,"y...|            6558|
|{"x":37.511745,"y...|            5609|
|{"x":37.376842642...|            5486|
|{"x":30.426921550...|            4632|
|{"x":37.41841,"y"...|            4186|
|{"x":37.8881,"y":...|            4018|
|{"x":37.47678,"y"...|            3700|
|{"x":37.740763685...|            3651|
|{"x":37.44564,"y"...|            3640|
+--------------------+----------------+
only showing top 20 rows

+--------+--------+
|      id|location|
+--------+--------+
|10058324|    null|
|10136683|    null|
|10058775|    null|
|10057773|    null|
|11215976|    null|
|10000851|    null|
|11216286|    null|
|11167472|    null|
|11285447|    null|
|10059771|    null|
|10022754|    null|
|10059774|    null|
|11185606|    null|
|11219190|    null|
|10000071|    null|
|10069360|    null|
|10058237|    null|
|10069381|    null|
|10035190|    null|
|11228488|    null|
+--------+--------+
only showing top 20 rows

+----------------+-------------+
|          source|count(source)|
+----------------+-------------+
|            null|            0|
|       210571576|            1|
|        avito.ru|      6750296|
|         cian.ru|      2893824|
|     domclick.ru|        44389|
|          irr.ru|        10894|
|  moyareklama.ru|         5859|
|           n1.ru|       102692|
|realty.yandex.ru|       985263|
|          sob.ru|        27535|
|   volgainfo.net|          227|
|        youla.io|        84879|
+----------------+-------------+

+----------+
| source_id|
+----------+
|      null|
|          |
|         0|
|1000000134|
|1000000924|
|1000006011|
|1000007889|
|1000009694|
|1000016788|
|1000019774|
|1000022416|
|1000024273|
|1000024284|
|1000027101|
|1000038288|
| 100003953|
|1000045365|
|1000048295|
|1000056551|
|1000062642|
+----------+
only showing top 20 rows

+------------+
|   source_id|
+------------+
|      Продам|
| TLT0960_283|
|TLT0905_3963|
| TLT0905_303|
|   TLT0895_7|
|  TLT0888_67|
|TLT0877_4586|
| TLT0864_175|
| TLT0864_154|
| TLT0843_111|
|   TLT0818_7|
|   TLT0818_6|
|  TLT0814_14|
| TLT0795_378|
|  TLT0773_42|
| TLT0765_164|
|  TLT0743_92|
| TLT0724_785|
| TLT0722_166|
|   TLT0704_1|
+------------+
only showing top 20 rows

+-------------+
|         type|
+-------------+
|       Продам|
|        Куплю|
|  Малосемейки|
|     Квартиры|
|         Дачи|
|      Участки|
|Дома/Коттеджи|
|      Долевое|
|             |
+-------------+

+--------+--------------------+
|      id|         description|
+--------+--------------------+
|13634931|xopоший учacтoк c...|
|11077390|x63 представляет ...|
+--------+--------------------+

+--------+-----------+
|      id|description|
+--------+-----------+
|10215788|          1|
|12349967|          1|
|13061792|          1|
|12498215|          1|
|14860399|          1|
|15279616|          1|
|17267206|          1|
|17379524|          1|
|17708973|          1|
|16704059|          1|
|17911878|          1|
| 5966661|          1|
|17861724|          1|
| 7815286|          1|
| 8528977|          1|
|10248306|          1|
|10258051|          1|
| 9237579|          1|
|10749773|          1|
|10773425|          1|
+--------+-----------+
only showing top 20 rows

+--------+--------------------+
|      id|              person|
+--------+--------------------+
|16858409|            *частник|
|16690812|            *частник|
|16676949|            *частник|
|16859070|            *частник|
|15036692|     *Частный агент*|
|11593048|     *Частный агент*|
|17404419|     *Частный агент*|
|12735582|     *Частный агент*|
| 8341017|    *Новый дом Ялта*|
|18032528|          *МосСклад*|
|18190811|          *МосСклад*|
|14148692|          *МосСклад*|
|16599560|*Игорь Александро...|
|18496749|*Игорь Александро...|
|17802021|*Игорь Александро...|
|16701821|*Игорь Александро...|
|16073295|*Игорь Александро...|
|16608304|*Игорь Александро...|
|16073293|*Игорь Александро...|
|16599556|*Игорь Александро...|
+--------+--------------------+
only showing top 20 rows

+--------+-----------------+
|      id|           person|
+--------+-----------------+
|12704713|              1ам|
|17630918|              1аб|
|14051632|              1аб|
|15078980|             1ЦГА|
| 9938561|1ДАН Недвижимость|
|10445015|1ДАН Недвижимость|
|15410019|1ДАН Недвижимость|
|12387093|1ДАН Недвижимость|
|15293839|1ДАН Недвижимость|
|12250726|1ДАН Недвижимость|
|17308305|1ДАН Недвижимость|
|13478871|1ДАН Недвижимость|
|13011439|1ДАН Недвижимость|
|13011190|1ДАН Недвижимость|
|13478879|1ДАН Недвижимость|
|17606313|1ДАН Недвижимость|
|15294080|1ДАН Недвижимость|
| 7576942|1ДАН Недвижимость|
|16945456|1ДАН Недвижимость|
| 9811532|1ДАН Недвижимость|
+--------+-----------------+
only showing top 20 rows

+--------+---------+
|      id|    phone|
+--------+---------+
|16838092|   999919|
|16837320|   999919|
|16837325|   999919|
|17764567|   999919|
|17576820|   980898|
|16837334|   956131|
|16837333|   956131|
|  783693|949871371|
| 2263392|936130244|
|  336580|931169993|
|  376486|915652511|
|16168648|   899987|
|16169676|   899987|
|16169996|   899987|
|16155001|   899927|
|16176530|   899672|
|16157318|   899670|
|16174394|   899634|
|16154413|   898297|
|16174520|   898279|
+--------+---------+
only showing top 20 rows

+--------+---------+
|      id|    price|
+--------+---------+
|16418162|999999999|
|15792858|999999999|
|10319754|999999999|
|15700084|999999999|
|12125437|999999999|
|14333255|999999999|
|18368890|999999999|
|10472050|999999999|
|18409768|999999999|
|17144288|999999999|
|13619541|999999999|
|11793424|999999999|
|16880501|999999999|
| 9620039|999999999|
|18486788|999999999|
|13232881|999999999|
| 9918181|999999999|
|16714307|999999999|
|12721772|999999999|
|17609892|999999999|
+--------+---------+
only showing top 20 rows

+--------+-----+
|      id|price|
+--------+-----+
|13752423|    9|
|14350542|    9|
|17258687|    9|
|13703857|    9|
|12586268|    9|
|11379521|    9|
|15091866|    9|
|11369184|    9|
|14211924|    9|
|10050120|    9|
| 8504335|    9|
|13514094|    9|
|15144583|    9|
| 1762113|   99|
|12341338|   99|
|16009039|   99|
|14156590|   99|
|16349599|   99|
| 8783905|   99|
|17375924|   99|
+--------+-----+
only showing top 20 rows

+---------------+----------------------+
|object_sub_type|count(object_sub_type)|
+---------------+----------------------+
|              3|                291208|
|           null|                     0|
|             60|                 12463|
|             20|                718247|
|             42|                   153|
|             27|                    10|
|             40|                447523|
|             21|                403319|
|             66|                 64945|
|             69|                  6061|
|             64|                  8249|
|             61|                 78752|
|             68|                  2627|
|             67|                  9720|
|             63|                146498|
|             65|                 12325|
|              4|                172396|
|             22|                 25214|
|             70|                 15445|
|             41|                 54400|
+---------------+----------------------+
only showing top 20 rows

+--------+--------------------+
|      id|               title|
+--------+--------------------+
|18283568|Ⓜ️ Профсоюзная ( ...|
|10217963|цена на неделю Ка...|
|15155810|     участок д. Кебь|
|15155814|участок в снт Боб...|
|16374003|участок в снт Боб...|
|16049892|участок 9,8 га дл...|
|16575892|участок 9,8 га дл...|
|16050034|участок 7 соток И...|
|15207186|участок 7 соток И...|
|16374073|участок 3,8 га в ...|
|16049895|участок 3,1 га (с...|
|16374048|участок 3,1 га (с...|
|18502079|участок 25 соток ...|
|18502087|участок 16 соток ...|
|16373982|участок 15,35 сот...|
|16049707|участок 15 соток ...|
|15012217|     участок 12 сот.|
|16050078|участок 10 соток ...|
|16374046|участок 1 га в д....|
|16374036|уч. 5 сот. Пушкин...|
+--------+--------------------+
only showing top 20 rows

+--------+-----+
|      id|title|
+--------+-----+
|10252292|     |
|11181093|     |
|10804263|     |
| 9373043|     |
| 9752720|     |
| 9412651|     |
|11239295|     |
|10903335|     |
|10106509|     |
| 9711568|     |
|10877695|     |
| 9708071|     |
|11333152|     |
|11339798|     |
|10873668|     |
| 9772255|     |
| 9571570|     |
|11383674|     |
|10616892|     |
|10305978|     |
+--------+-----+
only showing top 20 rows

+--------+--------------------+
|      id|                 url|
+--------+--------------------+
|16838438|http://volgainfo....|
|16838088|http://volgainfo....|
|17521048|http://volgainfo....|
|16838106|http://volgainfo....|
|16886841|http://volgainfo....|
|16815210|http://volgainfo....|
|16838077|http://volgainfo....|
|17019023|http://volgainfo....|
|16837736|http://volgainfo....|
|16836996|http://volgainfo....|
|16836995|http://volgainfo....|
|16836994|http://volgainfo....|
|16886829|http://volgainfo....|
|16836993|http://volgainfo....|
|16836992|http://volgainfo....|
|16836991|http://volgainfo....|
|16838451|http://volgainfo....|
|16836990|http://volgainfo....|
|16836989|http://volgainfo....|
|16838096|http://volgainfo....|
+--------+--------------------+
only showing top 20 rows

+--------+---+
|      id|url|
+--------+---+
|14068364|   |
+--------+---+

+------------------+
|count(DISTINCT id)|
+------------------+
|          10906778|
+------------------+

+-----------------------+
|count(DISTINCT session)|
+-----------------------+
|               10906572|
+-----------------------+

+-------------------+
|count(DISTINCT url)|
+-------------------+
|           10906052|
+-------------------+

+---------------------+
|count(DISTINCT title)|
+---------------------+
|              3445316|
+---------------------+

+---------------------------+
|count(DISTINCT object_type)|
+---------------------------+
|                         13|
+---------------------------+

+-------------------------------+
|count(DISTINCT object_sub_type)|
+-------------------------------+
|                             24|
+-------------------------------+

+---------------------+
|count(DISTINCT price)|
+---------------------+
|               692440|
+---------------------+

+---------------------+
|count(DISTINCT phone)|
+---------------------+
|              3920171|
+---------------------+

+----------------------+
|count(DISTINCT person)|
+----------------------+
|                245480|
+----------------------+

## Bonus

### 2nd solution (Cycle and variables)
#### Slower but more simple and has more readability than the previous method

### Create the list of variables to re-use if needed

In [ ]:
useless_columns = []
null_values = []
zero_values = []
empty_string = []
col_name = []

In [ ]:
for col in eda_df.columns:
    null = round((eda_df.filter(eda_df[col].isNull()).count()/eda_df.count())*100, 3)
    zero = round(eda_df.filter(eda_df[col]==0).count()/eda_df.count()*100, 3)
    empty = round(eda_df.filter(eda_df[col]=='').count()/eda_df.count()*100, 3)
    if null in [0, 100] and zero in [0, 100] and empty in [0, 100]:
        useless_columns.append(col)
        continue
    null_values.append(null)
    zero_values.append(zero)
    empty_string.append(empty)
    col_name.append(col)

In [ ]:
zipped = list(zip(null_values, zero_values, empty_string))
eda_df_pandas2 = pd.DataFrame(zipped, index=col_name, columns=['NULL', 'Zero', 'Empty'])
eda_df_pandas2

### Remove useless columns

In [ ]:
eda_df = eda_df.drop(*useless_columns)

In [ ]:
pd.DataFrame(eda_df.dtypes, columns = ['Column Name','Data type'])

In [7]:
spark.stop()

NameError: name 'spark' is not defined